<h1>Employees</h1>

<div *ngFor="let Employee of Employees" | asynic style="width:300px;">
</div>
<div class="panel panel-default">
        <div class="panel-heading">
            
            <a routerLink="/dashboard"><button>Back</button></a>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Username</th>
                        <th>Password</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor= "let Employee of Employees">
                        <td>{{employee.Name}}</td>
                        <td>{{employee.Surname}}</td>
                        <td>{{employee.Username}}</td>
                        <td>{{employee.Password}}</td>
                        <td><button (click)="deleteEmployee(employee.id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    