:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
    align-items: center;
    
}
div.button{
    position: relative;
    font-size: 25px;
    align-items: center;
    padding: 10px 20px;
    
}
