<form (submit)="AddUser($event)">
    <a routerLink="/dashboard"><button>Back</button></a>
    
            
                <div></div>
                Dodawanie użytkownika:
                <div class="input">
                        <label> Username </label>
                        <input type="text">
                    </div>
                    <div class="input">
                            <label> Password </label>
                            <input type="text">
                   </div>
                   <div class="input">
                        <label> Name </label>
                        <input type="text">
               </div>
               <div class="input">
                    <label> Surname </label>
                    <input type="text">
           </div>
                   <button type="submit" class="btn btn-success">dodaj</button>
                   
                    
    
    
</form>
<div [hidden]="!submitted">
        <h4>pomyslnie dodano</h4>
        <button class="btn btn-success"(click)="newEmployee()">Add</button>
</div>
