<form (submit)="AddUser($event)">
    <a routerLink="/dashboard"><button>Back</button></a>
    
            <div class="input">
                    <label>wyszukiwanie:(usernamie)</label>
                    <input type="text">
                    <button>szukaj</button>
                </div>
                <div></div>
                Dodawanie użytkownika:
                <div class="input">
                        <label> Username </label>
                        <input type="text">
                    </div>
                    <div class="input">
                            <label> Password </label>
                            <input type="text">
                   </div>
                   <div class="input">
                        <label> Name </label>
                        <input type="text">
               </div>
               <div class="input">
                    <label> Surname </label>
                    <input type="text">
           </div>
                   <button>dodaj</button>
                   <div class="input">
                        <label>usuwanie:(username)</label>
                        <input type="text">
                        <button>usuń</button>
                    </div>
                    
    
    
</form>
