<p><a routerLink='/userPage'><button>Back</button></a></p>
<div></div>
Dodawanie produktu:
<div class="input">
        <label>Producent</label>
        <input type="text">
    </div>
   
    <div class="input">
            <label>rok wydania</label>
            <input type="date">
        </div>
       
        <div class="input">
                <label>silnik </label>
                <input type="text">
            </div>
            
            <div class="input">
                    <label>cena</label>
                    <input type="number">
                </div>
                <div class="input">
                        <label>marza</label>
                        <input type="number">
                    </div>
                    <div class="input">
                            <label>rodzaj</label>
                            <input type="text">
                        </div>
                        <button>dodaj</button>
